<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Sentiment Analysis - DXC.technology</title>
    <link rel="icon" href="../static/images/logo.jpg" type="image/icon type">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/form.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mainpage.css') }}">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css"
          rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>


</head>

<body>

<img src="../static/images/GIF.gif" class="gif" width="1920" alt=""/>
<div class="login">
    <h2 style="color: white">Good to see you <strong style="text-transform: capitalize;">{{ session['username'] }}</strong></h2>
<h3><a href="{{ url_for('logout') }}" style="color:antiquewhite">Logout &nbsp &nbsp <i class="fa fa-sign-out"></i></a></h3></div>

<div class="container">
    <br><br><br><br>
    <form class="form-inline" id="form">

        <div class="form-group">
            <label for="comment"></label><textarea type="" class="form-control" id="comment" placeholder="Comment"
                                                   rows="2" cols="50"></textarea>
        </div>
        <br><br>
        <button type="submit" class="buttonload" id="submit">Submit</button>
        <button class="buttonload" id="load" hidden>
            <i class="fa fa-spinner fa-spin"></i>Loading
        </button>
        <br><br>
        <p id="result" style="display:none;"></p>
    </form>

</div>
<div class="dataset">
    <form id="dataset" enctype="multipart/form-data">
        <table>
            <tr style="background: transparent">
                <td><br>
                    <label for="files" class="buttonload choice">Select excel file</label>
                    <input id="files" type="file" name="file" style="visibility:hidden;"></td>
                <td><h4 id="filename" style="color: aliceblue;"></h4></td>
            </tr>
        </table>

        <input type="submit" value="Upload" class="buttonload upload">
        <button class="buttonload upload" id="loadupload" hidden>
            <i class="fa fa-spinner fa-spin"></i>Loading
        </button>
        <br> <br>


    </form>
    <div class="filter">
        <table style="border-spacing: 10px;
    border-collapse: separate;">
            <tr>
                <td>
                    <button id="neg"> &nbsp &nbsp<i class="fa fa-minus-circle"></i>Negative</button>
                </td>
                <td>
                    <button id="pos"> &nbsp &nbsp<i class="fa fa-plus-circle"></i> Positive</button>
                </td>
                <td>
                    <button id="ref"> &nbsp &nbsp<i class="fa fa-refresh"></i> Reset</button>
                </td>
                <td>
                    <div id="poss"></div>
                </td>
                <td>
                    <div id="negs"></div>
                </td>

            </tr>
        </table>


    </div>

    <table id="dataset_table" class="table">
        <thead>
        <tr style="color: aliceblue;">
            <td>Task</td>
            <td>Comment</td>
            <td>Feedback</td>

        </tr>
        </thead>
        <tbody id="table">
        <tr>

        </tr>
        </tbody>

    </table>
</div>

</body>

</html>